.card-img-top {
    height: 100%;
}

.card {
    height: 300px;
    flex-direction: row;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #816b6b0f;
}

.card-title {
    font-weight: bold;
}

.card-text {
    text-align: start;
}

.btn {
    font-size: small;
}