<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ready To Show</title>
    <style>
        .red-list li a {
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            text-align: start !important;
        }
        
        .grey-list li a {
            display: flex !important;
            flex-direction: row !important;
            align-items: flex-start !important;
            text-align: start !important;
        }
    </style>
</head>

<body>

    <!-- Start your project here-->
    <div id="header"></div>

    <div class="container my-5">
        <div class="row mb-5">
            <div class="col">
                <h2 style="color: #d05858;">ABOUT US</h2><br>
                <h4 style="font-weight: normal;">Tortona Fashion & Design</h4>
                <p>Owned by Georges PAPA , consulting company specialized in textile and garments businesses. Georges PAPA has been operating in fashion business since 1975 both for international and national official trade and industry bodies ( UNIDO, French
                    Government, Tunisia, Mauritius, Morocco...) international exhibitions ( PRET A PORTER PARIS, SALON DE LA LINGERIE, EXPOFIL, MODE IN SHANGHAI, TEXMED, NEW YORK PRET....before creating INTIMARE, SEAMLESSWORLD, INTERTEXMILANO and the
                    on going READY TO SHOW since 2001 ! During this period, private clients range from mass market international producers to luxurious brands KENZO , CHRISTIAN DIOR and many more…
                </p>

            </div>
            <div class="col">
                <img src="/assets/About Us/aboutintro.png" alt="intro">
            </div>
        </div>
        <h4 style="font-weight: normal;">Ready To Show Online</h4>
        <p>Thanks to our network of independent fashion consultants in all main countries, all potential markets have been covered !
            <br><br>40 editions of READY TO SHOW in Milan since 2001 has allowed us to develop an extensive data-base of all Italian fashion industries and trades from yarns to haute couture....but not only !!
            <br><br>AREA ITALIA will be a point of strength both for the richness of exhibitors and visitors but we cover all main markets and we' ll follow macro-economic and consumption trends so that you cannot miss new players and new opportunities
            !
        </p><br><br>
        <h2 style="color: #d05858;">Why Join Ready To Show Online</h2>
        <div class="my-5 jumbotron card card-image cloudy-knoxville-gradient" style="cursor: initial !important;">
            <div class="text-center px-4">
                <h3 style="color: #d05858;" class="card-title pt-3 mb-5 font-bold"><strong>READY TO SHOW ONLINE is the first  on-line international exhibition for the whole Textile / Garments and Leather industry!</strong></h3>
                <div class="btn disabled font-weight-bolder px-5 py-4" style="font-size: x-large;">NO LIMITS</div>
                <!-- Vertical Steppers -->
                <div class="row mt-1 justify-content-center">
                    <div class="col-md-12">

                        <!-- Stepers Wrapper -->
                        <ul class="red-list stepper stepper-vertical">

                            <!-- First Step -->
                            <li class="warning">
                                <a class="disabled">
                                    <span class="circle"></span>
                                    <span class="label black-text">It' s not only  limited to paying exhibitors of 1 single exhibition!</span>
                                </a>
                            </li>

                            <!-- Second Step -->
                            <li class="warning">
                                <a class="disabled">
                                    <span class="circle"></span>
                                    <span class="label black-text">It's not only limited to  1 country!</span>
                                </a>
                            </li>

                            <!-- Third Step -->
                            <li class="warning">
                                <a class="disabled">
                                    <span class="circle"></span>
                                    <span class="label black-text">It's not only limited to  1 product!</span>
                                </a>
                            </li>

                            <!-- Fourth Step -->
                            <li class="warning">
                                <a class="disabled">
                                    <span class="circle"></span>
                                    <span class="label black-text">It's not only limited to  1 season!</span>
                                </a>
                            </li>

                            <!-- Fifth Step -->
                            <li class="warning">
                                <a class="disabled">
                                    <span class="circle"></span>
                                    <span class="label black-text">It's not only limited to  1 distribution channel!</span>
                                </a>
                            </li>

                        </ul>
                        <!-- /.Stepers Wrapper -->

                    </div>
                </div>

                <!-- /.Vertical Steppers -->
            </div>
        </div>

        <p style="font-size: larger;">Selected participants from all producing countries for each sub-sector , either for bulk orders or small M.O.Q. can meet qualified buyers pre-registered through our V.I.P. check-in. Portal has been clearly structured to offer the best service
            to demanding buyers As example, fabrics producers are well identified according to final users ( menswear, womenswear, children wear ) before considering division by material !!
        </p>

        <h5>Address lists mainly come from 40 editions of READY TO SHOW in Milan since 2001 ..but not only!!</h5>

        <!-- Vertical Steppers -->
        <div class="row mt-1 justify-content-center" style="font-size: medium !important;">
            <div class="col-md-12">

                <!-- Stepers Wrapper -->
                <ul class="grey-list stepper stepper-vertical">

                    <!-- First Step -->
                    <li>
                        <a class="disabled">
                            <span class="circle"></span>
                            <span class="label"><h5>The data-base currently includes 30,000 names of prospective visitors</h5></span>
                        </a>
                    </li>
                    <li>
                        <a class="disabled">
                            <span class="circle"></span>
                            <span class="label"><h5>Intensive presence on LINKEDIN ano all other social networks</h5></span>
                        </a>
                    </li>
                    <li>
                        <a class="disabled">
                            <span class="circle"></span>
                            <span class="label"><h5 style="text-align: start;">Extensive seminars and conferences programme during the whole year<br> with international speakers and prestigious sponsors</h5></span>
                        </a>
                    </li>
                    <li>
                        <a class="disabled">
                            <span class="circle"></span>
                            <span class="label"><h5>Close cooperation with all relevant national fashion boards and associations</h5></span>
                        </a>
                    </li>
                    <li>
                        <a class="disabled">
                            <span class="circle"></span>
                            <span class="label"><h5>Personalized customers invitations to participate with VIP treatments</h5></span>
                        </a>
                    </li>
                    <li>
                        <a class="disabled">
                            <span class="circle"></span>
                            <span class="label"><h5>Intensive trade P.R. campaigns</h5></span>
                        </a>
                    </li>
                    <li>
                        <a class="disabled">
                            <span class="circle"></span>
                            <span class="label"><h5>Special events will be regularly organized</h5></span>
                        </a>
                    </li>
                </ul>
                <!-- /.Stepers Wrapper -->

            </div>
        </div>

        <!-- /.Vertical Steppers -->



    </div>

    <div id="footer"></div>

    <!-- End your project here-->

    <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script src="/index.js"></script>


</body>

</html>