<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ready To Show</title>
    <style>
        .card-title {
            color: #d05858;
        }
    </style>
</head>

<body>

    <!-- Start your project here-->
    <div id="header"></div>

    <div class="container">
        <div class="text-center">
            <img width="100%" src="/assets/Company Homepage/banner.png" alt="banner">
        </div>

        <div class="row">
            <div class="col-3 text-right">
                <div style="position: relative; top: -100px;">
                    <img src="/assets/Company Homepage/dp.png" alt="dp">
                </div>
            </div>
            <div class="col-9 text-left">
                <h3 style="color: #d05858;">FRASERS FASHION AND TEXTILES INC</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
            </div>
        </div>

        <h3>COMPANY PROFILE</h3>
        <div class="row">
            <div class="col-5">
                <div class="d-flex flex-row align-items-start">
                    <p><i style="color: #d05858;" class="fas fa-star mr-2"></i></p>
                    <p style="color: #d05858;" class="mr-2 font-weight-bold">Specialties: </p>
                    <p>Yarn, Cotton, Jeans</p>
                </div>
                <div class="d-flex flex-row align-items-start">
                    <p><i style="color: #d05858;" class="fas fa-flag mr-2"></i></p>
                    <p style="color: #d05858;" class="mr-2 font-weight-bold">Main Markets: </p>
                    <p>China</p>
                </div>
                <div class="d-flex flex-row align-items-start">
                    <p><i style="color: #d05858;" class="fas fa-sort-amount-down mr-2"></i></p>
                    <p style="color: #d05858;" class="mr-2 font-weight-bold">Minimum Order: </p>
                    <p>500 pcs</p>
                </div>
            </div>
            <div class="col-5">
                <div class="d-flex flex-row align-items-start">
                    <p><i style="color: #d05858;" class="fas fa-industry mr-2"></i></p>
                    <p style="color: #d05858;" class="mr-2 font-weight-bold">Production Capacity: </p>
                    <p>4,000,000 units</p>
                </div>
                <div class="d-flex flex-row align-items-start">
                    <p><i style="color: #d05858;" class="fas fa-hourglass-end mr-2"></i></p>
                    <p style="color: #d05858;" class="mr-2 font-weight-bold">Lead Time: </p>
                    <p>10 days</p>
                </div>
                <div class="d-flex flex-row align-items-start">
                    <p><i style="color: #d05858;" class="fas fa-envelope-open mr-2"></i></p>
                    <p style="color: #d05858;" class="mr-2 font-weight-bold">Contact: </p>
                    <p>fraser.fnt@fashion.com</p>
                </div>
            </div>
        </div>
        <br><br>
        <h3>PRODUCTS</h3>
        <div class="row">
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/bhoodie.png" alt="bhoodie">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Hoodie Black</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/sweater.png" alt="sweater">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Sweater Red</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/cardigan.png" alt="cardigan">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Cardigan Blue</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/whoodie.png" alt="whoodie">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Hoodie White</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/bhoodie.png" alt="bhoodie">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Hoodie Black</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/sweater.png" alt="sweater">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Sweater Red</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/cardigan.png" alt="cardigan">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Cardigan Blue</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/whoodie.png" alt="whoodie">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Hoodie White</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/bhoodie.png" alt="bhoodie">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Hoodie Black</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/sweater.png" alt="sweater">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Sweater Red</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/cardigan.png" alt="cardigan">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Cardigan Blue</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/whoodie.png" alt="whoodie">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Hoodie White</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-red justify-content-center">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item active"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        <br>
    </div>



    <div id="footer"></div>

    <!-- End your project here-->

    <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script src="/index.js"></script>


</body>

</html>