<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ready To Show</title>
    <style>
        .card-title {
            color: #d05858;
        }
        
        .btn {
            font-size: smaller !important;
        }
    </style>
</head>

<body>

    <!-- Start your project here-->
    <div id="header"></div>

    <div class="container text-center my-5">

        <h3>MANAGE PRODUCT PRESENTATION</h3>
        <a href="/views/addProduct.html" class="btn" style="font-size: medium !important;">ADD NEW</a>
        <div class="row">
            <div class="col">
                <!-- Card -->
                <div class="card text-left">
                    <!-- Card image -->
                    <img class="card-img-top" src="/assets/Company Homepage/bhoodie.png" alt="bhoodie">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Hoodie Black</a></h4>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/sweater.png " alt="sweater ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Sweater Red</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/cardigan.png " alt="cardigan ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Cardigan Blue</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/whoodie.png " alt="whoodie ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Hoodie White</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row ">
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/bhoodie.png " alt="bhoodie ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Hoodie Black</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/sweater.png " alt="sweater ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Sweater Red</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/cardigan.png " alt="cardigan ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Cardigan Blue</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/whoodie.png " alt="whoodie ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Hoodie White</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row ">
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/bhoodie.png " alt="bhoodie ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Hoodie Black</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/sweater.png " alt="sweater ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Sweater Red</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/cardigan.png " alt="cardigan ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Cardigan Blue</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col ">
                <!-- Card -->
                <div class="card ">
                    <!-- Card image -->
                    <img class="card-img-top " src="/assets/Company Homepage/whoodie.png " alt="whoodie ">
                    <!-- Card content -->
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title "><a>Hoodie White</a></h4>
                        <!-- Text -->
                        <p class="card-text ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-edit"></i>EDIT</div>
                            <div style="width: 50%;" class="btn"><i class="mr-1 fas fa-trash-alt"></i>REMOVE</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
        <br>
        <br>
    </div>



    <div id="footer"></div>

    <!-- End your project here-->

    <!-- jQuery -->
    <script type="text/javascript " src="/js/jquery.min.js "></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript " src="/js/popper.min.js "></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript " src="/js/bootstrap.min.js "></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript " src="/js/mdb.min.js "></script>
    <!-- Your custom scripts (optional) -->
    <script src="/index.js "></script>


</body>

</html>