<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ready To Show</title>

    <link rel="stylesheet" href="../style/register.css">
</head>

<body>

    <!-- Start your project here-->

    <div id="header"></div>

    <div class="container">
        <h1 style="color: #d05858; font-weight: bold;">REGISTER NOW!</h1>
        <br><br>
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="justify-content: flex-start;">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">REGISTER AS VISITOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">REGISTER AS SUPPLIER</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-6">
                        <!-- Default form login -->
                        <form class="text-left p-5" action="#!">

                            <p class="h5 mb-4">CONTACT INFORMATION</p>

                            <div class="form-group">
                                <input type="text" id="name" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="name">Name</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="job" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="job">Job Title</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="email" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="email">Email</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="address" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="address">Address</label>
                            </div>
                        </form>
                        <!-- Default form login -->
                    </div>
                    <div class="col-6">
                        <!-- Default form login -->
                        <form class="text-left p-5" action="#!">

                            <p class="h5 mb-4">COMPANY INFORMATION</p>

                            <div class="form-group">
                                <input type="text" id="name" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="name">Name</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="email" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="email">Email</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="web" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="web">Website</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="country" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="country">Country</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="address" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="address">Address</label>
                            </div>

                        </form>
                        <!-- Default form login -->
                    </div>
                </div>
                <!-- Default unchecked -->
                <div class="custom-control custom-checkbox text-md-center mx-auto">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked" style="font-weight: bold;">I agree to the Terms and Conditions</label>
                </div>

                <div class="text-md-center mx-auto my-5">
                    <button type="button" class="btn text-md-center mx-auto">REGISTER</button>
                </div>

            </div>


            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-6">
                        <!-- Default form login -->
                        <form class="text-left p-5" action="#!">

                            <p class="h5 mb-4">CONTACT INFORMATION</p>

                            <div class="form-group">
                                <input type="text" id="name" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="name">Name</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="email" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="email">Email</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="contact" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="contact">Contact No.</label>
                            </div>
                        </form>
                        <!-- Default form login -->
                    </div>
                    <div class="col-6">
                        <!-- Default form login -->
                        <form class="text-left p-5" action="#!">

                            <br><br>
                            <div class="form-group">
                                <input type="text" id="address" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="address">Address</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="web" class="form-control" required>
                                <label class="form-control-placeholder text-md-center m-0" for="web">Website</label>
                            </div>

                        </form>
                        <!-- Default form login -->
                    </div>
                </div>
                <!-- Default unchecked -->
                <div class="custom-control custom-checkbox text-md-center mx-auto">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked" style="font-weight: bold;">I agree to the Terms and Conditions</label>
                </div>

                <div class="text-md-center mx-auto my-5">
                    <button type="button" class="btn text-md-center mx-auto">REGISTER</button>
                </div>

            </div>


        </div>

    </div>



    <div id="footer"></div>



    <!-- End your project here-->

    <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script src="/index.js"></script>


</body>

</html>