<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ready To Show</title>
</head>

<body>

    <!-- Start your project here-->

    <!-- Footer -->
    <footer class="page-footer font-small text-black-50 pt-4" style="width: 100%; border-top: 1px solid #d05858;">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row justify-content-between align-items-center">

                <!-- Grid column -->
                <div class="col-3 mt-md-0 mt-3" style="font-weight: normal;">

                    <!-- Content -->
                    <h5 style="font-weight: bold;">Contact</h5>
                    <p>Tortona Design & Fashion Milan di Georges Papa</p>
                    <p>Email: expo@readytoshow-online.com</p>
                    <p>Website: www.readytoshow.it</p>
                </div>
                <!-- Grid column -->

                <!--Grid column-->
                <div class="col-5 mb-4">

                    <!-- Form -->
                    <form class="form-inline">
                        <h3 style="font-weight: normal;">Sign Up For Our Newsletter</h3>
                        <input class="form-control form-control-sm mr-3 w-75" type="text" aria-label="Search">
                    </form>
                    <!-- Form -->

                </div>
                <!--Grid column-->

                <!-- Grid column -->
                <div class="col-2">

                    <div class="row">
                        <h5 style="font-weight: bold;">FOLLOW US</h5>
                    </div>
                    <div class="row">
                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg mr-3 fa-2x"> </i>
                        </a>
                    </div>



                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->


</body>

</html>